.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.pane-labels {
  min-width: 300px;
}

.pane-videos {
  min-width: 100px !important;
}

.status {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  line-height: 2;
}
