.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form {
  padding: 10px;
}

.labels-tip {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.labels-tip-text {

}

.label-tip {
  margin-left: 10px;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}