.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.active {
  font-weight: bold;
}

.videos-tip {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.videos-tip-text {

}
